<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    
</head>
<body>
    <h1>HELP NEEDED!!!</h1>
    <div class="container">
        heyo
        <a href='https://www.linkpicture.com/view.php?img=LPic63da4c663cfd51730847341'><img class="img-fluid" src='https://www.linkpicture.com/q/paw.jpg' type='image'/></a>
        
    </div>
    
</body>
</html>