<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/about.css">
</head>

<body><br><br>
    <div class="row">
        <h1 class="text-left mx-5 text-primary">About</h1>
    </div><br>
    <nav class="navbar navbar-expand-md navbar-dark bg-warning">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#regnav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="regnav">
            <div class="nav">
                <a href="/home" class="nav-item nav-link">Home</a>
                <!-- <a href="/add" class="nav-item nav-link">Add Users</a> -->
                <!-- <a href="/about" class="nav-item nav-link">About</a> -->
                <a href="/sos" class="nav-item nav-link text-danger">
                  SOS
                </a>
                <a href="/pawstagram" class="nav-item nav-link text-dark">Paw-stagram</a>

  
                </div></div></nav>

    <div class="container">
        <hr><br><br>
        <div class="row">
           <div> <h3>An attempt to bring together animal lovers</h3></div><br>
          <div>  <h3>Forging new lives for Mumbai's forgotten animals </h3></div><br><br><br>
            <div >
                <p>
                    The number of stray animals in Mumbai is currently over 2,50,000, out of which only 90,000 have been neutered since 2016. With little to no effort from the BMC, the work of rescuing and caring for stray animals has become more expensive and harder to manage for animal activists.
                </p>

            </div>
            <div><p>Our site stimulates co-operation between the users and the NGOs that are dedicated to the rescue and rehabilitation of stray and abandoned animals.</p></div>
        </div>

    </div>
</body>

</html>