<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/homepage.css">
</head>
<body>
    <a href='https://www.linkpicture.com/view.php?img=LPic63da4adfa5e981711485765'><img  class="img-fluid mx-5" src='https://www.linkpicture.com/q/homepage2.png' type='image'></a>
<h1 class="text-center">WELCOME TO PAW WORLD</h1>
    <a href='https://www.linkpicture.com/view.php?img=LPic63da4adfa5e981711485765'><img  class="img-fluid mx-5" src='https://www.linkpicture.com/q/homepage2.png' type='image'></a>
<br><br><hr>
<div class="container">
    <div class="row">
        <div class="col-4">
        <a href="/sos" class="thesos" name="thesos" id="thesos">
            <h3>Go to the SOS Form!</h3>
        </a>
        </div>
        <div class="col-4">
            <a href="/pawstagram" class="sm" name="sm" id="sm">
                <h3>Go to Paw-stagram!</h3>
            </a>
        </div>
        <div class="col-4">
            <a href="/ngo" class="ngo" name="ngo" id="ngo">
                <h3>Register as an NGO!</h3>
            </a>
        </div>
    </div>
   
</div>

    
</body>
</html>