<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  
    <link rel="stylesheet" href="/login.css">
         
   
</head>
<body>

<!--LOGIN FORM-->
    <div class="container">
        <div class="align-middle">
            <!-- <img  class="img-fluid" src="paw.jpg"
              style="width: 250px;" alt="logo"> -->
             <a href='https://www.linkpicture.com/view.php?img=LPic63da4c663cfd51730847341'><img class="img-fluid" src='https://www.linkpicture.com/q/paw.jpg' type='image'/></a>
              
               
          </div><br><br><br><br><br><br><br><br>    
          
        <div class="forms">
            <div class="form login">
               <div><span class="title">Login to your account</span>
                
                <form action="/login" method="POST">
                    <div class="input-field">
                        <input name="email" type="email" placeholder="Enter your email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input name="password" type="password" class="password" placeholder="Enter your password" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="checkbox-text">
                        <!-- <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">Remember me</label>
                        </div> -->
                        
                        <a href="#" class="text">Forgot password?</a>
                    </div>  
                    
                    <!-- <div class="input-field button"> -->
                        <button class="input-field button" type="submit">Login </button>
                    <!-- </div> -->
                </form>

                <div class="login-signup">
                    <span class="text">Don't have an account ?
                        <a href="#" class="text signup-link">Signup Now</a>
                    </span>
                </div>
            </div>



            <!-- REGISTRATION FORM-->
            
            <div class="form signup">
               <div> <span class="title">Registration</span></div><br><br>

                <form action="/register" method="POST">
                    <div class="input-field">
                        <input name="name" type="text" placeholder="Enter your name" required>
                        <i class="uil uil-user"></i>
                    </div><br>
                    <div class="input-field">
                        <input name="email" type="text" placeholder="Enter your email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div><br>
                    <div class="input-field">
                        <input name="password" type="password" class="password" placeholder="Create a password" required>
                        <i class="uil uil-lock icon"></i>
                    </div><br>
                    <div class="input-field">
                        <input name="confirmpassword" type="password" class="password" placeholder="Confirm password" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div><br><br>

                    <!-- <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="termCon">
                            <label for="termCon" class="text">I have accepted all terms and conditions</label>
                        </div>
                    </div><br> -->

                    <!-- <div class="input-field button"> -->
                        <button class="input-field button" type="submit">Submit </button>
                    <!-- </div> -->
                </form>

                <div class="login-signup">
                    <span class="text">Already have an account ?
                        <a href="#" class="text login-link">Login Now</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script src="/login.js"></script>
</body>
</html>

